.Input{
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    
}
.Input::placeholder{
    text-align: center;
}
.home-main-div{
    justify-content: center;
    text-align: center;
}
#Optionbtn{
    background-color: wheat;
    margin: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: black;
}

#Optionbtn:hover{
    border: 2px solid brown;
}

#text-area{
    min-width: 500px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}